@model Eagle.Services.Dtos.SystemManagement.Identity.GroupEntry

<div class="panel panel-primary create-panel">
    <div class="panel-heading text-bold">@LanguageResource.Create</div>
    <div class="panel-body">

        <div id="createBox" class="create-box">
            <div class="row">

                @using (Ajax.BeginForm("Create", "Group", null, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loadingDisplay",
                    HttpMethod = "POST",
                    //UpdateTargetId = "gridcontainer",
                    OnBegin = "onBegin",
                    OnSuccess = "onSuccess",
                    OnComplete = "onComplete",
                    OnFailure = "onFailure",
                    Confirm = LanguageResource.ConfirmInsert
                }, new { id = "frmRoleGroup", name = "frmRoleGroup", @class = "form-horizontal" }))
                {
                    <div id="loadingDisplay" class="progressBarLoad">
                        <div class="progress progress-striped ">
                            <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>

                    <div id="formMessage" class="form-message">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.Partial("_MessagePartial")*@
                    </div>

                    <div id="formBody" class="form-body">
                        <div class="form-group padding-bottom-10">
                            <div class="col-md-3 no-padding-right">
                                @Html.RequiredLabelFor(model => model.GroupName, new { @class = "control-label pull-right text-right" })
                            </div>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.GroupName, new { maxlength = 250, @class = "form-control", @placeholder = LanguageResource.GroupName })
                                    @Html.ValidationMessageFor(model => model.GroupName, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        <div class="form-group padding-bottom-10">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3 no-padding-right" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, maxlength = 4000, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group padding-bottom-10">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-3 no-padding-right" })
                            <div class="col-md-9">
                                <div class="checkbox-slider--b col-md-9">
                                    <label>
                                        <input type="checkbox" id="IsActive" name="IsActive" value="true" checked="checked"><span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="formFooter" class="form-footer">
                        <div class="bottom-toolbar">
                            <input type="button" id="btnReset" data-mode="create" data-form="frmRoleGroup"  value="@LanguageResource.btnReset" class="btn btn-warning reset" />
                            <input type="submit" id="btnAdd" data-mode="create" data-form="frmRoleGroup"  value="@LanguageResource.btnSave" class="btn btn-primary create" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
