<div class="statistics-brief">
    <div class="row">
        <div class="col-md-3">
            <div class="statistic-green">
                <div class="statistic-content">
                    <div class="content-title">
                        <span class="icon glyphicon glyphicon-user"></span>
                        <span class="title">@LanguageResource.User</span>
                    </div>
                    <div class="content-body">
                        <div class="icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="info">@LanguageResource.TotalUsers (120)</div>
                    </div>
                    <div class="line"></div>
                    <div class="analysis">
                        @*<div class="quote">
                            <b>@LanguageResource.User</b> (120)
                        </div>*@
                        <div class="quote-more">
                            <a href="#" class="see-more">@LanguageResource.SeeMore <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="statistic-blue">
                <div class="statistic-content">
                    <div class="content-title">
                        <span class="icon glyphicon glyphicon-user"></span>
                        <span class="title">@LanguageResource.User</span>
                    </div>
                    <div class="content-body">
                        <div class="icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="info">@LanguageResource.TotalUsers (120)</div>
                    </div>
                    <div class="line">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="analysis">
                        @*<div class="quote">
                        <b>@LanguageResource.User</b> (120)
                    </div>*@
                        <div class="quote-more">
                            <a href="#" class="see-more">@LanguageResource.SeeMore <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="statistic-yellow">
                <div class="statistic-content">
                    <div class="content-title">
                        <span class="icon glyphicon glyphicon-user"></span>
                        <span class="title">@LanguageResource.User</span>
                    </div>
                    <div class="content-body">
                        <div class="icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="info">@LanguageResource.TotalUsers (120)</div>
                    </div>
                    <div class="line">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="analysis">
                        @*<div class="quote">
                        <b>@LanguageResource.User</b> (120)
                    </div>*@
                        <div class="quote-more">
                            <a href="#" class="see-more">@LanguageResource.SeeMore <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="statistic-red">
                <div class="statistic-content">
                    <div class="content-title">
                        <span class="icon glyphicon glyphicon-user"></span>
                        <span class="title">@LanguageResource.User</span>
                    </div>
                    <div class="content-body">
                        <div class="icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="info">@LanguageResource.TotalUsers (120)</div>
                    </div>
                    <div class="line">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="analysis">
                        @*<div class="quote">
                        <b>@LanguageResource.User</b> (120)
                    </div>*@
                        <div class="quote-more">
                            <a href="#" class="see-more">@LanguageResource.SeeMore <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
