@model Eagle.Services.Dtos.Contents.Articles.NewsCategoryEntry
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "myform", name = "myform", autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading text-bold">
                <div class='page-header margin-top-5 margin-bottom-0'>
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NewsCategory")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createNewsCategory" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NewsCategory")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                    <h4><span class="glyphicon glyphicon-pencil"></span> @LanguageResource.CreateNewsCategory</h4>
                </div>
            </div>
            <div class="panel-body">
                <div id="formMessage" class="form-message">
                    @Html.Partial("_MessagePartial")
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                </div>
                <div id="formBody" class="form-horizontal">
                    <div class="form-container">
                        <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                        <div class="form-body-container">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.RequiredLabelFor(model => model.ParentId)
                                        <div class="tree-container">
                                            <div id="tree" data-toggle="context"></div>
                                            @Html.HiddenFor(model => model.ParentId)
                                            @Html.ValidationMessageFor(model => model.ParentId)
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.RequiredLabelFor(model => model.CategoryName)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.CategoryName, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CategoryName)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.CategoryImage)
                                            </div>
                                            <div class="col-md-9">
                                                <button class="btn btn-default iconpicker" data-icon="glyphicon-picture" data-arrow-class="btn-success" role="iconpicker"></button>
                                                <input type="hidden" id="CategoryImage" name="CategoryImage" class="form-control" value="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.NavigateUrl)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.NavigateUrl, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.NavigateUrl)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Description)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Status)
                                            </div>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.Status, null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NewsCategory")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createNewsCategory" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NewsCategory")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
