@{
    ViewBag.Title = LanguageResource.EditMessageType;
}

@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Services.Message.MessageTypeEditEntry


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEditMessageType", name = "frmEditMessageType", autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditMessageType" data-id="@Model.MessageTypeId" data-url='@Url.Action("Edit", "MessageType")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editMessageType" data-mode="edit" data-form="frmEditMessageType" data-url='@Url.Action("Edit", "MessageType")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.EditMessageType</h4>
            </div>
        </div>

        <div class="panel-body padding-top-0">
            <div id="formMessage" class="form-message">
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            <div id="formBody" class="form-horizontal">
                <div class="container-fluid">
                    <div class="form-container">
                        <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                        <div class="form-body-container">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.RequiredLabelFor(model => model.MessageTypeName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.MessageTypeName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MessageTypeName)

                                        @Html.HiddenFor(model => model.MessageTypeId)
                                        @Html.ValidationMessageFor(model => model.MessageTypeId)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.Description)
                                    </div>
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { rows = 6, columns = 40, maxlength = 4000, @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.RequiredLabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox-slider--a">
                                            <label>
                                                @{
                                                    if (@Model.Status)
                                                    {
                                                        <input type="checkbox" id="Status" name="Status" checked="checked" value="true"><span></span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="Status" name="Status" value="false"><span></span>
                                                    }
                                                }
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditMessageType" data-id="@Model.MessageTypeId" data-url='@Url.Action("Edit", "MessageType")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editMessageType" data-mode="edit" data-form="frmEditMessageType" data-id="@Model.MessageTypeId" data-url='@Url.Action("Edit", "MessageType")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>

    </div>
                                                        }