@model IEnumerable<Eagle.Services.Dtos.Services.Message.MessageTypeDetail>
<div class="table-responsive">
    <table id="dataTable" class="dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text-center">@LanguageResource.SequenceNo</th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().MessageTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                </th>
                <th class="table-actions text-center no-sort">@LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text-center">
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageTypeName)
                    </td>
                    <td class="text-center">
                        <div class="inner-center">
                            <div class="checkbox-slider--a">
                                <label>
                                    @{
                                        if (item.Status)
                                        {
                                            <input type="checkbox" id="Status-@item.MessageTypeId" name="Status-@item.MessageTypeId" class="changeStatus" data-id="@item.MessageTypeId" data-url='@Url.Action("UpdateStatus", "MessageType")' data-warning="@LanguageResource.DoYouWantToContinue" checked="checked" value="true"><span></span>
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="Status-@item.MessageTypeId" name="Status-@item.MessageTypeId" class="changeStatus" data-id="@item.MessageTypeId" data-url='@Url.Action("UpdateStatus", "MessageType")' data-warning="@LanguageResource.DoYouWantToContinue" value="false"><span></span>
                                        }
                                    }
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="table-actions text-center center no-sort">
                        <a data-id="@item.MessageTypeId" title="@Html.Raw(LanguageResource.Edit)" class="btn btn-small btn-primary editItem" data-container="divEdit" data-url='@Url.Action("Edit", "MessageType")'><span class="icon-edit"></span></a>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">@LanguageResource.NoRecordFound</td>
                </tr>
            }
        </tbody>
    </table>
</div>