@using Eagle.Services.Skins
@using Eagle.WebApp.Themes
@model Eagle.Services.Dtos.Business.CustomerChangePassword
<form id="frmChangePassword" name = "frmChangePassword" class="form-horizontal">
    <div id="formMessage" class="form-message ">
        @Html.AntiForgeryToken()
        @Html.Partial("_MessagePartial")
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    </div>
    <div class="box ">
        <div id="change-password" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@LanguageResource.ResetPassword</h3>
            </div>
            <div class="panel-body">
                <!--start row-->

                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="col-md-4">
                        <label class="reset-label">
                            @Html.DisplayFor(model => model.Email)
                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.OldPassword)
                        </label>
                    </div>
                </div>
                <!--end row-->
                <!--start row-->
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                        @Html.RequiredLabelFor(model => model.NewPassword)
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password" })
                    </div>
                </div>
                <!--end row-->
                <!--start row-->
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                        @Html.RequiredLabelFor(model => model.ConfirmedPassword)
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ConfirmedPassword, new { @class = "form-control", type = "password" })
                    </div>
                </div>
                <!--end row-->
                <!--/row-->
                <div class="row margin-bottom-10 margin-right-10 pull-right">
                    <div class="footbar">
                        <input type="button" id="btnChangePassword" data-id="frmChangePassword" data-url='@Url.Action("ChangePassword","Cust")' value="@LanguageResource.btnSave" class="btn btn-primary changePassword" />
                    </div>
                </div>
                <!--End.row-->
            </div>
        </div>
    </div>
</form>