@{
    ViewBag.Title = LanguageResource.CreatePartner;
}

@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Business.VendorPartnerEntry


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateVendorPartner", name = "frmCreateVendorPartner", }))
{
    <div class="panel panel-default">
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateVendorPartner" data-url='@Url.Action("Create", "VendorPartner")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-success save add create createVendorPartner" data-mode="create" data-form="frmCreateVendorPartner" data-url='@Url.Action("Create", "VendorPartner")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateVendor</h4>
            </div>
        </div>

        <div class="panel-body">
            <div class="container-fluid">
                <!--start row-->
                <div class="form-container">
                    <div id="formMessage" class="form-message">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_MessagePartial")
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    </div>

                    <div id="formBody" class="form-horizontal">
                        <div class="form-container">
                            <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                            <div class="form-body-container">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(model => model.PartnerName, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.PartnerName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PartnerName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </div>
                                        @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Telephone)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                        @Html.LabelFor(model => model.Fax, new {@class = "control-label col-md-2"})
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Fax, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(model => model.Fax)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.Description, new {rows = 6, columns = 40, @class = "form-control"})
                                            @Html.HiddenFor(model => model.Description)
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label(LanguageResource.Logo, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="file-container">
                                                <div class="row">
                                                    <div class="col-md-8 no-padding-left">
                                                        <input type="file" id="File" name="File" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif" class="btn btn-default form-control" />
                                                        @Html.ValidationMessageFor(model => model.File)
                                                    </div>
                                                    <div class="col-md-4 no-padding-left">
                                                        <input type="button" class="btn btn-warning resetFile" value="@LanguageResource.Reset" />
                                                    </div>
                                                </div>
                                                <div id="image-holder"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox-slider--a">
                                                <label>
                                                    <input type="checkbox" id="Status" name="Status" checked="checked" value="true"><span></span>
                                                </label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Status)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->

            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateVendorPartner" data-url='@Url.Action("Create", "VendorPartner")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-success save add create createVendorPartner" data-mode="create" data-form="frmCreateVendorPartner" data-url='@Url.Action("Create", "VendorPartner")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}