<aside class="sidebar_right"> 
    <ul class="siderright"> 
        <li> <a href="@Url.Action("Index", "Cart")" title="@LanguageResource.YourCart" id="aside_cart" rel="nofollow"> <i class="color2 fa fa-shopping-cart"></i> <span class="badge badge-sea rounded-x" id="nn-cart-count1"></span> @LanguageResource.Cart</a></li> 
        <li> <a href="@Url.Action("Index", "Cust")" title="@LanguageResource.ViewOrder" id="aside_checkcart" rel="nofollow"> <i class="iconsprites_asidecheck"></i> @LanguageResource.TrackingOrder</a></li> 
        <li> <a  class="feedback-accordion active" accordion-id="#accordion" href="#accordion"><i class="iconsprites_asidesupport"></i>@LanguageResource.Feedback</a></li> 
        <li> <a href="https://tawk.to/chat/5a43170cbbdfe97b137fd6c0/default/?$_tawk_popout=true" title="@LanguageResource.Chat" id="help" rel="nofollow" class="gotochat"> <i class="iconsprites_asidehelp"></i> @LanguageResource.Support &amp; <br>@LanguageResource.Chat</a></li> 
    </ul> 
</aside>
