@{
    ViewBag.Title = LanguageResource.CreateJobPosition;
}

@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Business.Personnel.JobPositionEntry

<div class="panel panel-default">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateJobPosition", name = "frmCreateJobPosition", }))
    {
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateJobPosition" data-url='@Url.Action("Create", "JobPosition")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary save add create createJobPosition" data-mode="create" data-form="frmCreateJobPosition" data-url='@Url.Action("Create", "JobPosition")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateJobPosition</h4>
            </div>
        </div>

        <div class="panel-body padding-top-0">
            <div id="formMessage" class="form-message">
                @Html.AntiForgeryToken()
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            </div>

            <div id="formBody" class="form-horizontal">
                <div class="form-container">
                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                    <div class="form-body-container">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PositionName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.PositionName, new { @class = "form-control", placeholder = LanguageResource.PositionName })
                                    @Html.ValidationMessageFor(model => model.PositionName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, maxlength = 150, @class = "form-control", placeholder = LanguageResource.Description })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.RadioButtonListFor(model => model.IsActive, ViewBag.IsActive as SelectList, "True")
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateJobPosition" data-url='@Url.Action("Create", "JobPosition")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary save add create createJobPosition" data-mode="create" data-form="frmCreateJobPosition" data-url='@Url.Action("Create", "JobPosition")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>