@using Eagle.Services.Skins
@{
    ViewBag.Title = Html.Raw(LanguageResource.MediaPlayListManagement);
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

<div id="MainContainer" class="box-container">
    <div class="body-container">
        <div id="bodyContent">
            <div id="MainBody" class="container-fluid">
                <div id="divEdit">
                    @Html.Action("Create", "MediaPlayList")
                </div>
                <div id="divList">
                    @Html.Partial("../Contents/Media/MediaPlayList/_Search")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script Scope="text/javascript">
        window.MediaPlayListSearchUrl = '@Url.Action("Search", "MediaPlayList")';
    </script>
    <!-- tree -->
<link href="@Url.Content("~/Scripts/plugins/easyui/themes/bootstrap/easyui.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/plugins/easyui/themes/icon.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/plugins/easyui/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src="~/Scripts/app/modules/media-playlist.js"></script>
}