@model IEnumerable<Eagle.Services.Dtos.Services.Message.MessageTemplateInfoDetail>

<div class="table-responsive">
    <table id="dataTable" class="dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text-center">@LanguageResource.SequenceNo</th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.TemplateName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.MessageType.MessageTypeName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="table-actions center no-sort">@LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td class="text-center">
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.MessageType.MessageTypeName)
                        </td>
                        <td class="text-center">
                            <div class="inner-center">
                                <div class="checkbox-slider--a">
                                    <label>
                                        @{
                                            if (item.Status)
                                            {
                                                <input type="checkbox" id="Status-@item.TemplateId" name="Status-@item.TemplateId" class="changeStatus" data-id="@item.TemplateId" data-url='@Url.Action("UpdateStatus", "MessageTemplate")' data-warning="@LanguageResource.DoYouWantToContinue" checked="checked" value="true"><span></span>
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="Status-@item.TemplateId" name="Status-@item.TemplateId" class="changeStatus" data-id="@item.TemplateId" data-url='@Url.Action("UpdateStatus", "MessageTemplate")' data-warning="@LanguageResource.DoYouWantToContinue" value="false"><span></span>
                                            }
                                        }
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="table-actions center no-sort">
                            <a data-id="@item.TemplateId" title="@Html.Raw(LanguageResource.Edit)" class="btn btn-small btn-primary editItem" data-container="divEdit" data-url='@Url.Action("Edit", "MessageTemplate")'><span class="icon-edit"></span></a>
                        </td>
                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" class="text-center">@LanguageResource.NoRecordFound</td>
                                                </tr>
                                            }
        </tbody>
    </table>
</div>
