@model Eagle.Services.Dtos.SystemManagement.Identity.RoleEntry
<div class="panel panel-primary create-panel">
    <div class="panel-heading text-bold"><h7>@LanguageResource.Create</h7></div>
    <div class="panel-body">
        
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmCreateRole", name = "frmCreateRole" }))
        {
            @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            <div id="formMessage" class="form-message">
                @Html.Partial("_MessagePartial")
            </div>

            <div id="formBody" class="form-horizontal">
                
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RoleName, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RoleCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleCode)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new {rows = 2, columns = 40, maxlength = 4000, @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group  has-error">
                    @Html.LabelFor(model => model.IsActive, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <div class="checkbox-slider--b">
                            <label>
                                <input type="checkbox" id="IsActive" name="IsActive" value="true" checked="checked"><span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @Html.Partial("../Sys/Roles/_EditGroup")
                </div>
               
            </div>

            <div id="formFooter" class="form-footer form-group">
                <div class="bottom-toolbar">
                    <input type="button" id="btnReset" data-mode="create" data-form="frmCreateRole" data-url='@Url.Action("Create", "Role")' value="@LanguageResource.btnReset" class="btn btn-warning reset" />
                    <input type="button" id="btnAdd" data-mode="create" data-form="frmCreateRole" data-url='@Url.Action("Create", "Role")' value="@LanguageResource.btnSave" class="btn btn-primary create" />
                </div>
            </div>
        }
    </div>
</div>