@{
    ViewBag.Title = LanguageResource.EditServiceTaxRate;
}
@model Eagle.Services.Dtos.Services.Booking.ServiceTaxRateEditEntry


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEditServiceTaxRate", name = "frmEditServiceTaxRate", autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditServiceTaxRate" data-id="@Model.TaxRateId" data-url='@Url.Action("Edit", "ServiceTaxRate")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editServiceTaxRate" data-mode="edit" data-form="frmEditServiceTaxRate" data-url='@Url.Action("Edit", "ServiceTaxRate")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.EditServiceTaxRate</h4>
            </div>
        </div>

        <div class="panel-body padding-top-0">
            <div id="formMessage" class="form-message">
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            <div id="formBody" class="form-horizontal">
                <div class="container-fluid">
                    <div class="form-container">
                        <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                        <div class="form-body-container">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.RequiredLabelFor(model => model.TaxRate, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.TaxRate, new { @class = "form-control", type = "number" })
                                        @Html.ValidationMessageFor(model => model.TaxRate)

                                        @Html.HiddenFor(model => model.TaxRateId)
                                        @Html.ValidationMessageFor(model => model.TaxRateId)
                                    </div>
                                    @Html.LabelFor(model => model.IsPercent, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <div class="checkbox-slider--a">
                                            <label>
                                                @{
                                                    if (Model.IsPercent)
                                                    {
                                                        <input type="checkbox" id="IsPercent" name="IsPercent" checked="checked" value="true"><span></span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="IsPercent" name="IsPercent" value="false"><span></span>
                                                    }
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <div class="checkbox-slider--a">
                                            <label>
                                                @{
                                                    if (Model.IsActive)
                                                    {
                                                        <input type="checkbox" id="IsActive" name="IsActive" checked="checked" value="true"><span></span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="IsActive" name="IsActive" value="false"><span></span>
                                                    }
                                                }
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IsActive)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditServiceTaxRate" data-id="@Model.TaxRateId" data-url='@Url.Action("Edit", "ServiceTaxRate")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editServiceTaxRate" data-mode="edit" data-form="frmEditServiceTaxRate" data-id="@Model.TaxRateId" data-url='@Url.Action("Edit", "ServiceTaxRate")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

