@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Business.ProductAttributeEditEntry

@if (Model != null)
{
    <div class="panel panel-default panel-table panel-option">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h6><span class="glyphicon glyphicon-option-vertical"></span> @LanguageResource.ProductAttributeOption</h6>
                </div>
                <div class="col col-xs-6 text-right">
                    <button type="button" data-index="@Model.Index" class="btn btn-sm btn-primary create-option add-option">@LanguageResource.AddNewItem</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="ExistedOptions" name="ExistedOptions" data-array="ExistedAttributes[@Model.Index].ExistedOptions" class='table table-striped table-bordered table-hover table-sortable table-list option-table attribute-@Model.Index-option-table'>
                <thead class="thead-default">
                <tr>
                    <th class="text-center bg-color-grey hidden">@LanguageResource.AttributeId</th>
                    <th class="text-center bg-color-grey hidden">@LanguageResource.OptionId</th>
                    <th class="text-center bg-color-grey">@LanguageResource.OptionName</th>
                    <th class="text-center bg-color-grey">@LanguageResource.OptionValue</th>
                    <th class="text-center bg-color-grey">@LanguageResource.IsActive</th>
                    <th class="text-center bg-color-grey"><label class="glyphicon glyphicon-cog"></label></th>
                </tr>
                </thead>
                <tbody>
                @if (Model.ExistedOptions != null && Model.ExistedOptions.Any())
                {
                    int i = 0;
                    foreach (var item in Model.ExistedOptions)
                    {
                        <tr id="@($"optionRow{i}")" data-id="@i" data-array="ExistedAttributes[@Model.Index].ExistedOptions">
                            <td data-name="AttributeId" class="hidden">
                                <input id="ExistedAttributes[@Model.Index].ExistedOptions[@i].AttributeId" name="ExistedAttributes[@Model.Index].ExistedOptions[@i].AttributeId" type="hidden" value="@item.AttributeId" class="attribute-id"/>
                            </td>
                            <td data-name="OptionId" class="hidden">
                                <input id="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionId" name="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionId" type="hidden" value="@item.OptionId" class="option-id"/>
                            </td>
                            <td data-name="OptionName">
                                <input id="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionName" name="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionName" type="text" value="@item.OptionName" placeholder='@LanguageResource.OptionName' class="form-control option-name"/>
                            </td>
                            <td data-name="OptionValue">
                                <input id="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionValue" name="ExistedAttributes[@Model.Index].ExistedOptions[@i].OptionValue" type="text" value="@item.OptionValue" placeholder='@LanguageResource.OptionValue' class="form-control number option-value"/>
                            </td>
                            <td class="text-center" data-name="IsActive">
                                @Html.DropDownList("ExistedAttributes[" + @Model.Index + "].ExistedOptions[" + @i + "].IsActive", new SelectList(Enum.GetValues(typeof (ProductAttributeOptionStatus)), @item.IsActive), new {@class = "form-control"})
                            </td>
                            <td class="text-center actions">
                                <button type="button" data-title="Edit" data-id="@item.OptionId" data-index="@Model.Index" class='btn btn-success glyphicon glyphicon-pencil edit-option'></button>
                                <button type="button" data-title="Delete" data-id="@item.OptionId" data-index="@Model.Index" data-url='@Url.Action("Delete", "ProductAttributeOption")' class='btn btn-warning glyphicon glyphicon-trash remove-option'></button>
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr id="optionRow0" data-id="0" data-array="ExistedAttributes[@Model.Index].ExistedOptions">
                        <td data-name="OptionName"><input id="ExistedAttributes[@Model.Index].ExistedOptions[0].OptionName" name="ExistedAttributes[@Model.Index].ExistedOptions[0].OptionName" type="text" value="" placeholder='@LanguageResource.OptionName' class="form-control option-name" /></td>
                        <td data-name="OptionValue"><input id="ExistedAttributes[@Model.Index].ExistedOptions[0].OptionValue" name="ExistedAttributes[@Model.Index].ExistedOptions[0].OptionValue" type="text" pattern="/\D/g" value="" placeholder='@LanguageResource.OptionValue' class="form-control number option-value" /></td>
                        <td class="text-center" data-name="IsActive">
                            @Html.DropDownList("ExistedAttributes["+ @Model.Index + "].ExistedOptions[0].IsActive", new SelectList(Enum.GetValues(typeof(ProductAttributeOptionStatus)), ProductAttributeOptionStatus.Active), new { @class = "form-control" })
                        </td>
                        <td class="text-center actions">
                            <button type="button" data-title="Edit" data-id="0" data-index="@Model.Index" class='btn btn-success glyphicon glyphicon-pencil edit-option'></button>
                            <button type="button" data-title="Delete" data-id="0" data-index="@Model.Index" class='btn btn-warning glyphicon glyphicon-trash remove-option'></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <button type="button" data-index="@Model.Index" class="btn btn-sm btn-primary pull-right create-option add-option">@LanguageResource.AddNewItem</button>
            </div>
        </div>
    </div>
}
