@using Eagle.Core.Configuration
@using Eagle.Services.Skins

@{
    ViewBag.Title = LanguageResource.Product;
    Layout = ThemeViewEngine.AdminFullMainLayout;
}
@using Eagle.Core.HtmlHelper
@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Business.ProductEntry
<div id="divEdit" class="edit-panel padding-bottom-10">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateProduct", name = "frmCreateProduct", autocomplete = "off", @class = "form-horizontal" }))
    {
        <div class="pcakage-container">
            <div class="panel panel-default">
                <div class="panel-heading text-bold">
                    <div class='page-header margin-top-5 margin-bottom-0'>
                        <div class='btn-toolbar pull-right'>
                            <div class='btn-group'>
                                <a class="btn btn-default backurl" role="button" href='@Url.Action("Index", "Product")'><span class="glyphicon glyphicon-home"></span> @LanguageResource.Back</a>
                                <input type="button" class="btn  btn-default reset btnReset" data-mode="create" data-form="frmCreateProduct" value="@LanguageResource.Reset"/>
                                <input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreateProduct" data-url='@Url.Action("Create", "Product")' value="@LanguageResource.Save"/>
                            </div>
                        </div>
                        <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateProduct</h4>
                    </div>
                </div>

                <div class="panel-body padding-top-0">
                    <div id="formMessage" class="form-message">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_MessagePartial")
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    </div>

                    <div id="formBody" class="form-horizontal">
                        <div class="container-fluid">
                            <div class="form-horizontal">
                                <div class="add-new-page">
                                    <div class="panel with-nav-tabs panel-info">
                                        <div class="panel-heading">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab1" data-toggle="tab">@LanguageResource.BasicInfo</a></li>
                                                <li><a href="#tab2" data-toggle="tab">@LanguageResource.ProductSpecification</a></li>
                                                <li><a href="#tab3" data-toggle="tab">@LanguageResource.ProductAttribute</a></li>
                                                <li><a href="#tab4" data-toggle="tab">@LanguageResource.ProductDimensionWeight.</a></li>
                                                <li><a href="#tab5" data-toggle="tab">@LanguageResource.ProductState</a></li>
                                                <li><a href="#tab6" data-toggle="tab">@LanguageResource.Gallery</a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="form-container">
                                                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                                                    <div class="tab-content no-border">

                                                        <div class="tab-pane fade in active" id="tab1">
                                                            <!--start tab-->
                                                            <div class="product-basic form-horizontal">
                                                                <fieldset>
                                                                    <legend>@LanguageResource.BasicInfo</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.RequiredLabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.ProductName)
                                                                                    </div>
                                                                                    @Html.RequiredLabelFor(model => model.ProductCode, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBox("ProductCode", ViewBag.ProductCode as string, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.ProductCode)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.RequiredLabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        <input id="CategoryId" name="CategoryId" value="0" class="easyui-combotree form-control cbxCategoryTree" data-url='@Url.Action("GetProductCategorySelectTree", "Product")' style="width: 100%;">
                                                                                        @Html.ValidationMessageFor(model => model.CategoryId)
                                                                                    </div>
                                                                                    @Html.RequiredLabelFor(model => model.ProductTypeId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        <select id="ProductTypeId" name="ProductTypeId" data-url='@Url.Action("GetProductTypeSelectList", "Product")' class="form-control"></select>
                                                                                        @Html.ValidationMessageFor(model => model.ProductTypeId)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.NetPrice, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        <div class="input-group">
                                                                                            @Html.TextBoxFor(model => model.NetPrice, new { @class = "form-control number" })
                                                                                            @Html.ValidationMessageFor(model => model.NetPrice)
                                                                                            <span class="input-group-addon">
                                                                                                @Html.Display("CurrencyCode", ViewBag.CurrencyCode as string, new { @class = "form-control" })
                                                                                            </span>
                                                                                        </div>
                                                                                        @Html.HiddenFor(item => item.CurrencyCode)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.ManufacturerId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.DropDownListFor(model => model.ManufacturerId, null, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.ManufacturerId)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.GrossPrice, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        <div class="input-group">
                                                                                            @Html.TextBoxFor(model => model.GrossPrice, new { @class = "form-control number" })
                                                                                            @Html.ValidationMessageFor(model => model.GrossPrice)
                                                                                            <span class="input-group-addon">
                                                                                                @Html.Display("CurrencyCode", ViewBag.CurrencyCode as string, new { @class = "form-control" })
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    @Html.RequiredLabelFor(model => model.TaxRateId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-1">
                                                                                        @Html.DropDownListFor(model => model.TaxRateId, null, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.TaxRateId)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.DiscountId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-1">
                                                                                        @Html.DropDownListFor(model => model.DiscountId, null, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.DiscountId)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.BrandId, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.DropDownListFor(model => model.BrandId, null, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.BrandId)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-10">
                                                                                        @Html.RadioButtonSwitchEnumFor(model => model.Status, ProductStatus.Published)
                                                                                        @Html.ValidationMessageFor(model => model.Status)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                                <fieldset>
                                                                    <legend>@LanguageResource.Attachment</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.Label(LanguageResource.Photo, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-10">
                                                                                        <div class="file-container">
                                                                                            <div class="row">
                                                                                                <div class="col-md-8 no-padding-left">
                                                                                                    <input type="file" id="File" name="File" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif" class="btn btn-default form-control" />
                                                                                                    @Html.ValidationMessageFor(model => model.File)
                                                                                                </div>
                                                                                                <div class="col-md-4 no-padding-left">
                                                                                                    <input type="button" class="btn btn-warning resetFile" value="@LanguageResource.Reset" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div id="image-holder"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-10">
                                                                                        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.Url)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>
                                                            <!--end tab-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab2">
                                                            <!--start tab-->
                                                            <fieldset>
                                                                <legend>@LanguageResource.ProductSpecification</legend>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-body">
                                                                        <div class="container-fluid">
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
                                                                                <div class="col-md-10">
                                                                                    @Html.TextAreaFor(model => model.ShortDescription, new { rows = 5, cols = 5, @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.ShortDescription)
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                @Html.LabelFor(model => model.Specification, new { @class = "control-label col-md-2" })
                                                                                <div class="col-md-10">
                                                                                    @Html.TextAreaFor(model => model.Specification, new { rows = 5, cols = 5, @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.Specification)
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <!--end tab-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab3">
                                                            <!--start tab-->
                                                            <div class="product-attribute-container">
                                                                @Html.Partial("../Business/Ecommerce/Product/_CreateProductAttribute")
                                                            </div>
                                                            <!--end tab-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab4">
                                                            <!--start tab-->
                                                            <div class="product-dimension-weight">

                                                                <fieldset>
                                                                    <legend>@LanguageResource.ProductDimension</legend>

                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Length, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Length, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.Length)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.UnitOfDimensionMeasure, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.UnitOfDimensionMeasure, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.UnitOfDimensionMeasure)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Width, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Width, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.Width)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.Height, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Height, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.Height)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>


                                                                <fieldset>
                                                                    <legend>@LanguageResource.ProductWeight</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.Weight)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.UnitOfWeightMeasure, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.UnitOfWeightMeasure, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.UnitOfWeightMeasure)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                                <fieldset>
                                                                    <legend>@LanguageResource.ProductUnit</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.UnitsInBox, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.UnitsInBox, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.UnitsInBox)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.UnitsInAPackage, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.UnitsInAPackage, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.UnitsInAPackage)
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Unit, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
                                                                                        @Html.ValidationMessageFor(model => model.Unit)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>
                                                            <!--end tab-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab5">
                                                            <!--start tab-->
                                                            <div class="product-state">

                                                                <fieldset>
                                                                    <legend>@LanguageResource.ProductInventory</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.UnitsInStock, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.UnitsInStock, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.UnitsInStock)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.Availability, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.Availability, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.Availability)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                                <fieldset>
                                                                    <legend>@LanguageResource.ProductLimitation</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.MinPurchaseQty, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.MinPurchaseQty, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.MinPurchaseQty)
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.MaxPurchaseQty, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.TextBoxFor(model => model.MaxPurchaseQty, new { @class = "form-control", type = "number" })
                                                                                        @Html.ValidationMessageFor(model => model.MaxPurchaseQty)
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.DatePickerWithIconFor(model => model.StartDate, DateTime.UtcNow.ToString("dd/MM/yyyy"))
                                                                                        @Html.ValidationMessageFor(model => model.StartDate, "*", new { @class = "text-danger" })
                                                                                    </div>
                                                                                    @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
                                                                                    <div class="col-md-4">
                                                                                        @Html.DatePickerWithIconFor(model => model.EndDate)
                                                                                        @Html.ValidationMessageFor(model => model.EndDate, "*", new { @class = "text-danger" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>
                                                            <!--end tab-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab6">
                                                            <!--start tab-->
                                                            <div class="product-gallery">
                                                                <fieldset>
                                                                    <legend>@LanguageResource.CreateGalleryCollection</legend>
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="container-fluid">
                                                                                <div class="form-group">
                                                                                    @Html.TextBoxFor(model => model.ProductGalleryFiles, "", new { type = "file", multiple = "multiple", @accept = "image/*", @class = "file-loading" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                            <!--end tab-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class='btn-toolbar pull-right'>
                            <div class='btn-group'>
                                <a class="btn btn-default backurl" role="button" href='@Url.Action("Index", "Product")'><span class="glyphicon glyphicon-home"></span> @LanguageResource.Back</a>
                                <input type="button" class="btn  btn-default reset btnReset" data-mode="create" data-form="frmCreateProduct" value="@LanguageResource.Reset"/>
                                <input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreateProduct" data-url='@Url.Action("Create", "Product")' value="@LanguageResource.Save"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script type="text/javascript">
        window.ProductHomehUrl = '@Url.Action("Index", "Product")';
        window.CreateProductAttributeUrl = '@Url.Action("CreateProductAttribute", "Product")';
        window.EditProductAttributeUrl = '@Url.Action("EditProductAttribute", "Product")';
        window.CreateProductAttributeOptionUrl = '@Url.Action("CreateProductAttributeOption", "Product")';


        //UPLOAD IN EDIOR
        window.ReadImageBrowserUrl = '@Url.Action("Read", "ImageBrowser")';
        window.CreateImageBrowserDirectoryUrl = '@Url.Action("CreateDirectory", "ImageBrowser")';
        window.DestroyImageBrowserUrl = '@Url.Action("Destroy", "ImageBrowser")';
        window.ThumbnailImageBrowserUrl = '@Url.Action("Thumbnail", "ImageBrowser")';
        window.UploadImageBrowserUrl = '@Url.Action("Upload", "ImageBrowser")';
        window.UploadNewsImageFolder = '@Url.Content(GlobalSettings.ProductUploadImagePath)';

        window.ReadFileBrowserUrl = '@Url.Action("Read", "FileBrowser")';
        window.CreateFileBrowserDirectoryUrl = '@Url.Action("CreateDirectory", "FileBrowser")';
        window.DestroyFileBrowserUrl = '@Url.Action("Destroy", "FileBrowser")';
        window.ThumbnailFileBrowserUrl = '@Url.Action("Thumbnail", "FileBrowser")';
        window.UploadFileBrowserUrl = '@Url.Action("Upload", "FileBrowser")';
        window.UploadNewsFileFolder = '@Url.Content(GlobalSettings.ProductUploadDocumentPath)';
    </script>
    <!-- tree -->
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/bootstrap/easyui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/icon.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/easyui/jquery.easyui.min.js")"></script>
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.default.mobile.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/kendo/js/kendo.all.min.js")"></script>
    <link href="~/Scripts/plugins/bootstrap-plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/bootstrap-plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/app/modules/product-create.js"></script>
}
