@model Eagle.Services.Dtos.SystemManagement.Settings.SettingItemEditEntry

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNotificationSetting", name = "frmNotificationSetting", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                    <input type="button" class="btn btn-default resetNotificationSetting" data-form="frmNotificationSetting" data-url='@Url.Action("GetNotificationSettings", "Application")' value="@LanguageResource.Reset" />
                    <input type="button" class="btn btn-primary editNotificationSetting" data-form="frmNotificationSetting" data-url='@Url.Action("EditNotificationSetting", "Application")' value="@LanguageResource.Save" />
                </div>
            </div>
            <h6><strong>@LanguageResource.NotificationSetting</strong></h6>
        </div>
        <div class="panel-body">
            <div id="formMessage" class="form-message">
                @Html.AntiForgeryToken()
                <div id="alertMessageBox-frmNotificationSetting" aria-hidden="true" aria-labelledby="alertMessage" role="dialog" class="modal hide fade">
                    <div class="modal-body">
                        <div id="alertMessage">
                            @if (ViewBag.DisplayErrorMessage == true)
                            {
                                <div class="@ViewBag.CssClass">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>@ViewBag.SortMessage !</strong> @ViewBag.Message
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            </div>
            <div id="formBody" class="container-fluid">
                <div class="form-container">
                    <div class="form-body-container">
                        <div class="form-horizontal">

                            @if (Model != null)
                            {
                                @Html.HiddenFor(model => model.ApplicationSetting.SettingId)
                                @Html.HiddenFor(model => model.ApplicationSetting.SettingName)
                                @Html.HiddenFor(model => model.ApplicationSetting.IsSecured)
                                @Html.HiddenFor(model => model.ApplicationSetting.IsActive)
                                @Html.ValidationMessageFor(model => model.ApplicationSetting.SettingId)

                                int i = 0;
                                foreach (var item in Model.Settings)
                                {

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@item.KeyName </label>
                                        <div class="col-md-10">
                                            <input type="hidden" name="Settings[@i].KeyName" value="@item.KeyName" />
                                            <span class="field-validation-valid text-danger help-block" data-valmsg-for="Settings[@i].KeyName" data-valmsg-replace="false">*</span>

                                            @if (!string.IsNullOrEmpty(item.KeyName) && item.KeyName == "IsNotificationEnable")
                                            {
                                                <div class="btn-group" data-toggle="buttons">
                                                    @if (item.KeyValue == "True")
                                                    {
                                                        <label class="btn btn-xs btn-success active">
                                                            <input type="radio" id='@string.Format("Settings_{0}_KeyValue", i)' name="Settings[@i].KeyValue" class="changeNotificationSettingStatus" data-id='@Model.ApplicationSetting.SettingId' data-url='@Url.Action("UpdateNotificationSettingStatus", "Application")' data-warning="@LanguageResource.DoYouWantToContinue" value="True" checked />@LanguageResource.On
                                                        </label>
                                                        <label class="btn btn-xs btn-default">
                                                            <input type="radio" id='@string.Format("Settings_{0}_KeyValue", i)' name="Settings[@i].KeyValue" class="changeNotificationSettingStatus" data-id='@Model.ApplicationSetting.SettingId' data-url='@Url.Action("UpdateNotificationSettingStatus", "Application")' data-warning="@LanguageResource.DoYouWantToContinue" value="False" />@LanguageResource.Off
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="btn btn-xs btn-default">
                                                            <input type="radio" id='@string.Format("Settings_{0}_KeyValue", i)' name="Settings[@i].KeyValue" class="changeNotificationSettingStatus" data-id='@Model.ApplicationSetting.SettingId' data-url='@Url.Action("UpdateNotificationSettingStatus", "Application")' data-warning="@LanguageResource.DoYouWantToContinue" value="True" />@LanguageResource.On
                                                        </label>
                                                        <label class="btn btn-xs btn-success active">
                                                            <input type="radio" id='@string.Format("Settings_{0}_KeyValue", i)' name="Settings[@i].KeyValue" class="changeNotificationSettingStatus" data-id='@Model.ApplicationSetting.SettingId' data-url='@Url.Action("UpdateNotificationSettingStatus", "Application")' data-warning="@LanguageResource.DoYouWantToContinue" value="False" checked />@LanguageResource.Off
                                                        </label>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="text" name="Settings[@i].KeyValue" value="@item.KeyValue" class="form-control">
                                            }
                                            <span class="field-validation-valid text-danger help-block" data-valmsg-for="Settings[@i].KeyValue" data-valmsg-replace="false">*</span>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default resetNotificationSetting" data-form="frmNotificationSetting" data-url='@Url.Action("GetNotificationSettings", "Application")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary editNotificationSetting" data-form="frmNotificationSetting" data-url='@Url.Action("EditNotificationSetting", "Application")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}