@using Eagle.Core.HtmlHelper
@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Contents.Media.MediaTopicEntry
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "myform", name = "myform", autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading text-bold">
                <div class='page-header margin-top-5 margin-bottom-0'>
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "MediaTopic")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createMediaTopic" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "MediaTopic")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                    <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateMediaTopic</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="form-container">
                        <div id="formMessage" class="form-message">
                            @Html.AntiForgeryToken()
                            @Html.Partial("_MessagePartial")
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        </div>
                        <div id="formBody" class="form-horizontal">
                            <div class="form-container">
                                <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                                <div class="form-body-container">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.RequiredLabelFor(model => model.TopicName, new {@class = "control-label col-md-2"})
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.TopicName, null, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.TopicName)
                                            </div>
                                            @Html.LabelFor(model => model.Icon, new {@class = "control-label col-md-2"})
                                            <div class="col-md-1 no-padding-left no-padding-right">
                                                <button class="btn btn-default iconpicker" data-icon="glyphicon-picture" data-arrow-class="btn-success" role="iconpicker"></button>
                                                <input type="hidden" id="Icon" name="Icon" class="form-control" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TypeId, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <select id="TypeId" name="TypeId" data-url='@Url.Action("PoplulateMediaTypeSelectList", "MediaTopic")' class="form-control"></select>
                                                @Html.ValidationMessageFor(model => model.TypeId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.RequiredLabelFor(model => model.ParentId, new {@class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                <input id="ParentId" name="ParentId" value="0" class="easyui-combotree form-control cbxParentTree" data-url='@Url.Action("GetMediaTopicSelectTree", "MediaTopic")' style="width: 100%;">
                                                @Html.ValidationMessageFor(model => model.ParentId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonSwitchEnumFor(model => model.Status, MediaTopicStatus.Active)
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "MediaTopic")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createMediaTopic" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "MediaTopic")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
