@using Eagle.Core.HtmlHelper.CheckBox.Model
@using Eagle.Core.Settings
@model Eagle.Services.Dtos.SystemManagement.MenuEntry

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateMenu", name = "frmCreateMenu", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div id="FormContainer" class="form-container">
        <div id="FormHeader" class="form-header">
            <div class="topbar">
                <div class="row topbar-inner">
                    <div class="col-md-6">
                        <h6 class="text-capitalize">@Html.Raw(LanguageResource.Menu + " : " + LanguageResource.Create)</h6>
                    </div>
                    <div class="col-md-6 no-padding-right">
                        <div class="right-button-align">
                            <span class="icon-input-btn"><span class="glyphicon glyphicon-refresh"></span><input type="button" class="btn btn-warning reset btnReset" data-mode="reset" data-form="frmCreateMenu" value="@LanguageResource.Reset" /></span>
                            <span class="icon-input-btn"><span class="glyphicon glyphicon-plus"></span><input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreateMenu" data-url='@Url.Action("Create", "Menu")' value="@LanguageResource.Save" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="FormMessage" class="form-message">
            <div id="alertMessageBox" class="margin-5">
                @if (ViewBag.DisplayErrorMessage == true)
                {
                    <div class="@ViewBag.CssClass">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@ViewBag.SortMessage !</strong>
                        <div class="padding-left">
                            @Html.Raw(Server.HtmlDecode(ViewBag.Message))
                        </div>
                    </div>
                }
                @Html.ValidationSummary()
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 0%;">
                    <span class="sr-only">0% Complete</span>
                </div>
            </div>
        </div>

        <div id="FormBody" class="form-body">
            <div class="add-new-menu">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab">
                        <li id="tab-1" class="active"><a href="#pane-1" data-toggle="tab">@LanguageResource.MenuInfo</a></li>
                        <li id="tab-2"><a href="#pane-2" data-toggle="tab">@LanguageResource.Appearance</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content responsive">
                        <div class="tab-pane  fade in active" id="pane-1">
                            <div class="sub-container">
                                <div class="sub-header-container">
                                    <div class="sub-heading-title">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h6><label id="TypeName" name="TypeName">@LanguageResource.Admin</label></h6>
                                            </div>
                                            <div class="col-md-3 text-right no-padding-right">
                                                <input id="TypeId" name="TypeId" type="hidden" value="1" />
                                                @*<div class="btn-group" data-toggle="buttons" id="type-select">
                                                    @Html.RadioButtonListFor(model => model.TypeId, ViewData["TypeId"] as IEnumerable<SelectListItem>)
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-body-container">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.ParentId)
                                        </div>
                                        <div class="col-md-10">
                                            <input id="ParentId" name="ParentId" class="easyui-combotree form-control cbxParentMenuTree" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.PageId)
                                        </div>
                                        <div class="col-md-10">
                                            <div class="input-group input-group-sm">
                                                <div class="addon-sm">
                                                    @Html.DropDownListFor(model => model.PageId, null, new { @class = "form-control selectBox2" })
                                                </div>
                                                <div class="input-group-addon create-page" id="createPage" data-action="@Url.Action("Index", "Page")">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.RequiredLabelFor(model => model.MenuName)
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control", placeholder = LanguageResource.MenuName })
                                            @Html.ValidationMessageFor(model => model.MenuName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.RequiredLabelFor(model => model.MenuTitle)
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.MenuTitle, new { @class = "form-control", placeholder = LanguageResource.MenuTitle })
                                            @Html.ValidationMessageFor(model => model.MenuTitle)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Description)
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, maxlength = 150, @class = "form-control", placeholder = LanguageResource.Description })
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.IsSecured)
                                        </div>
                                        <div class="col-md-10">
                                            <div class="checkbox-slider--c">
                                                <label>
                                                    <input type="checkbox" id="IsSecured" name="IsSecured" checked="checked" value="true"><span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Status)
                                        </div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-3 no-padding-left">
                                                    <label class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" id="Status" name="Status" value="2" checked="checked" />
                                                        </span>
                                                        <span class="form-control">@LanguageResource.Published</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3 no-padding-left">
                                                    <label class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" id="Status" name="Status" value="1" />
                                                        </span>
                                                        <span class="form-control">@LanguageResource.Active</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4 no-padding-left">
                                                    <label class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="radio" id="Status" name="Status" value="0" />
                                                        </span>
                                                        <span class="form-control">@LanguageResource.InActive</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pane-2">
                            <div class="sub-container">
                                <div class="sub-header-container">
                                    <div class="sub-heading-title">
                                        <h6>@LanguageResource.Appearance</h6>
                                    </div>
                                </div>
                                <div class="sub-body-container">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.Label("IconFile", LanguageResource.IconFile)
                                        </div>
                                        <div class="col-md-10">
                                            <input type="file" id="FileUpload" name="FileUpload" class="btn btn-default form-control" />
                                            <div id="image-holder"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Target)
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Target, null, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.IconClass)
                                        </div>
                                        <div class="col-md-4">
                                            <button id="btnIconPicker" class="btn btn-default iconpicker" role="iconpicker"></button>
                                            <input type="hidden" id="IconClass" name="IconClass" class="selectedIcon" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.CssClass)
                                        </div>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.CssClass, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Color)
                                        </div>
                                        <div class="col-md-4">
                                            <div class="color-picker-container">
                                                <input id="ColorPicker" name="ColorPicker" class="color-picker evo-cp0" value="" style="width: 100px" />
                                                <input type="hidden" id="Color" name="Color" class="color" value="" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.Label(LanguageResource.PositionId)
                                        </div>
                                        <div class="col-md-10">
                                            <div class="row">
                                                @Html.Partial("../Sys/Menu/_EditPosition");
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="FormFooter" class="form-footer">
            <div class="bottom-toolbar">
                <span class="icon-input-btn"><span class="glyphicon glyphicon-refresh"></span><input type="button" class="btn btn-warning reset btnReset" data-mode="reset" data-form="frmCreateMenu" value="@LanguageResource.Reset" /></span>
                <span class="icon-input-btn"><span class="glyphicon glyphicon-plus"></span><input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreateMenu" data-url='@Url.Action("Create", "Menu")' value="@LanguageResource.Save" /></span>
            </div>
        </div>
    </div>
}
