@using Eagle.Core.Pagination
@using Eagle.Core.Pagination.Extension
@using Eagle.Core.Settings
@model IPagedList<Eagle.Services.Dtos.Services.Booking.ServicePackInfoDetail>

<div id="lastest-service" class="sidebar-service">
    @if (Model.Any())
    {
        <div class="container-fluid around-box dark">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h2>@LanguageResource.LastestServices</h2>
                <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            </div>
            <div class="row margin-bottom-50">
                @foreach (var item in Model)
                {
                    <div class="col-md-12 content-boxes-v6 md">
                        <a href="@Url.Action("Details","Service", new {id = item.PackageId })" class="box-images rounded-x">
                            @if (!string.IsNullOrEmpty(item.FileUrl))
                            {
                                <img src="@Url.Content(item.FileUrl)" alt="@item.PackageName">
                            }
                            else
                            {
                                <img src="/Images/150x90.png" alt="@item.PackageName">
                            }
                        </a>                            
                       
                        <a href="@Url.Action("Details","Service", new {id = item.PackageId })" class="link-readmore">
                            @item.PackageName
                        </a>
                        <div class="dotdot">@item.Description</div>
                        <div class="note">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="service-fee">@((item.TotalFee == 0) ? @LanguageResource.ContactUs : @Html.FormatValue(item.TotalFee, "{0:c}"))</span>
                                </div>
                                <div class="col-md-6">
                                    <p class="read-more-wrapper">
                                        <a class="read-more" data-id="@item.PackageId" title="@item.PackageName" href="@Url.Content("~/Service/Details/"+item.PackageId)">
                                            @LanguageResource.ReadMore
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
     

        <div class="pagination col-md-12 hidden">
            @if (Model != null && Model.Any())
                {
                <div class="datagrid-pager row">
                    <div class="datagrid-pagination pull-right text-right">
                        @Html.PagedListPager(Model, page => Url.Action("GetLastestServices", "Service", new { categoryId = ViewBag.CategoryId, page = page }),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                                {
                                    MaximumPageNumbersToDisplay = 5,
                                    DisplayPageCountAndCurrentLocation = true,
                                    PageCountAndCurrentLocationFormat = LanguageResource.PageCountAndCurrentLocationFormat,
                                }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "lastest-service" }))
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>@LanguageResource.NoDataFound</div>
    }
</div>