@model Eagle.Core.Pagination.IPagedList<Eagle.Services.Dtos.Services.Booking.ServicePackInfoDetail>
@using Eagle.Core.Pagination.Extension
@using Eagle.Core.Configuration
@using Eagle.Core.Settings

<div class="col-md-12">
    <div class="service-pack-container">

        @if (Model.Any())
        {
            var firstItem = Model.FirstOrDefault();
            if (firstItem != null)
            {
                if (firstItem.Category != null)
                {
                    <div class="service-header">
                        <div class="headline">
                            <h3>
                                @firstItem.Category.CategoryName
                            </h3>
                        </div>
                    </div>
                }
            }

            foreach (var item in Model)
            {
                <div class="service-pack-detail">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="service-photo">
                                <a data-id="@item.PackageId" title="@item.PackageName" href="@Url.Action("Details", "Service", new {id = item.PackageId})">
                                    @if (!string.IsNullOrEmpty(item.FileUrl))
                                    {
                                        <img src='@item.FileUrl' alt='@item.PackageName' class="img-responsive thumb margin10 img-thumbnail">
                                    }
                                    else
                                    {
                                        <img src="/Images/150x90.png" alt='@item.PackageName' class="img-responsive thumb margin10 img-thumbnail">
                                    }
                                </a>
                            </div>
                            <div class="service-detail">
                                <h4 class="service-title">
                                    <a data-id="@item.PackageId" title="@item.PackageName" href="@Url.Action("Details", "Service", new {id = item.PackageId})">@item.PackageName</a>
                                </h4>
                                <div class="service-body">
                                    <div class="rating-container">
                                        <div class="star-rating" id="starRating_@item.PackageId" star-id="@item.PackageId" star-url='@Url.Action("CreateServicePackRating", "Service")' rating-type="service">
                                            <span class="fa fa-star-o" data-rating="1" title="Did not like it"></span>
                                            <span class="fa fa-star-o" data-rating="2" title="it was okay"></span>
                                            <span class="fa fa-star-o" data-rating="3" title="Liked it"></span>
                                            <span class="fa fa-star-o" data-rating="4" title="Really liked it"></span>
                                            <span class="fa fa-star-o" data-rating="5" title="It was amazing"></span>
                                            <input type="hidden" name="ratingValue" id="ratingValue_@item.PackageId" input-id="@item.PackageId" class="rating-value" value="@item.Rating">
                                        </div>
                                    </div>

                                    @if (item.Description != null && item.Description.Length > 200)
                                    {
                                        <p class="summary">@(item.Description.Substring(0, 200) + "...")</p>
                                    }

                                    @if (item.Type != null)
                                    {
                                        <div class="service-caption">
                                            <div class="service-type">
                                                <span class="service-type-title">@LanguageResource.Type :</span>
                                                <span class="service-type-text">@item.Type.TypeName</span>
                                            </div>
                                        </div>
                                    }

                                    @if (item.DiscountRate != null && item.DiscountRate > 0 && item.TotalFee > 0)
                                    {
                                        <div class="discount-rate">
                                            <div class="saving">@LanguageResource.Saving :</div>
                                            <div class="xthrough">@Html.FormatValue(item.TotalFee + item.DiscountRate, "{0:c}")</div>
                                        </div>
                                    }

                                    <div class="price-block">
                                        <div class="price">
                                            <span class="price-title">@LanguageResource.Price :</span>
                                            <span class="price-tag price-comparison-offer">@((item.TotalFee == 0) ? @LanguageResource.ContactUs : @Html.FormatValue(item.TotalFee, "{0:c}"))</span>
                                        </div>
                                    </div>
                                    <div class="booking-box">
                                        <div class="select-quantity">
                                            <div class="qty-container">
                                                <input type="text" class="select-quantity-input" value="1">
                                                <div class="quantity-control">
                                                    <span class="select-quantity-plus increment-by-one"></span>
                                                    <span class="select-quantity-minus decrement-by-one"></span>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="button-booking add-item-to-cart" data-id="@item.PackageId" data-type="@ItemType.ServicePackage">@LanguageResource.AddToCart</div>
                                    </div>
                                    <div class="button-group">
                                        <div class="read-more-wrapper">
                                            <a data-id="@item.PackageId" title="@item.PackageName" href="@Url.Content("~/Service/Details/" + item.PackageId)">
                                                <div class="read-more-box">
                                                    <span class="read-more">@LanguageResource.ReadMore</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (ViewBag.NoPaging == false)
    {
        <div class="pagination col-md-12">
            @if (Model != null && Model.Any())
            {
                <div class="datagrid-pager row">
                    <div class="datagrid-pagination pull-right text-right">
                        @Html.PagedListPager(Model, page => Url.Action("GetServicePacksByCategory", "Service", new { categoryId = @ViewBag.CategoryId, page = page }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                            {
                                MaximumPageNumbersToDisplay = GlobalSettings.DefaultPageSize,
                                DisplayPageCountAndCurrentLocation = true,
                                PageCountAndCurrentLocationFormat = LanguageResource.PageCountAndCurrentLocationFormat,
                            }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "list-service-packs" }))
                    </div>
                </div>
            }
            else
            {
                @LanguageResource.NotFound
            }
        </div>
    }
    else
    {
        <div class="pagination pull-right">
            <a href="javascript:void(0)" id="viewAll">@LanguageResource.ViewAll</a>
        </div>
    }

</div>
