@{
    ViewBag.Title = LanguageResource.PackageDetail;
    Layout = Eagle.Services.Skins.ThemeViewEngine.DesktopMainLayout;
}

@model Eagle.Services.Dtos.Services.Booking.ServicePackInfoDetail

<div id="page" class="container-fluid service-detail">
    <div class="page-content container">
        <div class="article-body row">
            <div class="article-left col-md-8">
                <div id="divEdit" class="row">
                    @{
                        Html.RenderPartial("../Services/_ServicePackDetail", Model);
                    }
                </div>
                <div lass="row relarted-services-block">
                    @{
                        Html.RenderAction("GetRelatedServices", "Service", new {servicePackageId = Model.PackageId, page = 1, pageSize = 6});
                    }
                </div>
            </div>
            <div class="article-right col-md-4">
                @Html.Action("GetLastestServicesRight", "Service", new {page= 1, pageSize =5})
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        window.GetServiceCategorySelectTreeUrl = '@Url.Action("GetServiceCategoryTree", "Service")';
        window.GetServicePacksByCategoryId = '@Url.Action("GetServicesByCategoryId", "Service")';
    </script>

    <!-- tree -->
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/bootstrap/easyui-custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/icon-custom.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/easyui/jquery.easyui.min.js")"></script>
    <script src="~/Themes/Booking/Content/js/app/service.js"></script>
}