@{
    ViewBag.Title = LanguageResource.Service;
    Layout = Eagle.Services.Skins.ThemeViewEngine.DesktopSubLayout;
}

<div id="page" class="container-fluid">
    <div class="page-content container">
        <div class="col-md-12 top-before service_page service-item-page" id="list-service-packs">

            <div class="row">
                <div class="col-md-8">
                    <div id="divEdit" class="row">
                        @{
                            @Html.Action("GetServicePacks", "Service", new {categoryId = (int) ViewBag.CategoryId})
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    @{
                        @Html.Action("GetLastestServicesRight", "Service", new { page = 1, pageSize = 5 })
                    }
                </div>
            </div>
        </div>
        @*<div class="col-md-12">
            <div class="row-home" style="display: none">
                @Html.Partial("../Services/_ServiceCategory")
            </div>
            <div class="row-home">
                
            </div>
        </div>*@
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        window.GetServiceCategorySelectTreeUrl = '@Url.Action("GetServiceCategoryTree", "Service")';
        window.GetServicePacksByCategoryId = '@Url.Action("GetServicesByCategoryId", "Service")';
        window.GeListByCategoryId = '@Url.Action("GeServicePackageTabsByCategoryId", "Service")';
    </script>

    <!-- tree -->
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/bootstrap/easyui-custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/icon-custom.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/easyui/jquery.easyui.min.js")"></script>
    <script src="~/Themes/Booking/Content/js/app/service.js"></script>
}