@model IEnumerable<Eagle.Services.Dtos.Contents.Articles.NewsInfoDetail>

<div class="most-viewed-posts">
    <div class="article-wrapper">
        <div class="header-container">
            <div class="headline">
                <h3>@Html.Raw(LanguageResource.MostViewedList)</h3>
            </div>
        </div>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="article-container">
                    <div class="article-body">
                        <div class="article-item">
                            <div class="article-image">
                                @if (!string.IsNullOrEmpty(item.FrontImageUrl))
                                {
                                    <img src='@item.FrontImageUrl' alt='@item.Title' class="img-thumbnail">
                                }
                                else
                                {
                                    <img src="/Images/150x90.png" alt='@item.Title' class="img-thumbnail">
                                }
                            </div>
                            <div class="article-content">
                                <div class="article-header">
                                    <h5>
                                        <a class="article-title" data-id="@item.NewsId" title="@item.Title" href='@Url.Action("Details", "Article", new {id = item.NewsId})'>@item.Title</a>
                                    </h5>
                                </div>
                                <div class="rating-container">
                                    <div class="star-rating" id="starRating_@item.NewsId" star-id="@item.NewsId" star-url='@Url.Action("CreateNewsRating", "Article")' rating-type="news">
                                        <span class="fa fa-star-o" data-rating="1" title="Did not like it"></span>
                                        <span class="fa fa-star-o" data-rating="2" title="it was okay"></span>
                                        <span class="fa fa-star-o" data-rating="3" title="Liked it"></span>
                                        <span class="fa fa-star-o" data-rating="4" title="Really liked it"></span>
                                        <span class="fa fa-star-o" data-rating="5" title="It was amazing"></span>
                                        <input type="hidden" name="ratingValue" id="ratingValue_@item.NewsId" input-id="@item.NewsId" class="rating-value" value="@item.TotalRates">
                                    </div>
                                </div>
                                <div class="summary dotdot">@Html.Raw(item.Summary)</div>
                            </div>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="read-more-wrapper">
                            <a data-id="@item.NewsId" title="@item.Headline" href='@Url.Action("Details", "Article", new {id = item.NewsId})'>
                                <div class="read-more-box">
                                    <span class="read-more">@Html.DisplayUpperTitle(LanguageResource.ReadMore)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
     
    </div>
</div>