@{
    ViewBag.Title = LanguageResource.EditPromotion;
}

@using Eagle.Core.Settings
@model Eagle.Services.Dtos.Business.PromotionEditEntry

<div class="panel panel-default">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEditPromotion", name = "frmEditPromotion", autocomplete = "off", @class = "form-horizontal" }))
    {
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditPromotion" data-id="@Model.PromotionId" data-url='@Url.Action("Edit", "Promotion")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editPromotion" data-mode="edit" data-form="frmEditPromotion" data-id="@Model.PromotionId" data-url='@Url.Action("Edit", "Promotion")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.EditPromotion</h4>
            </div>
        </div>

        <div class="panel-body padding-top-0">
            <div id="formMessage" class="form-message">
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            <div id="formBody" class="form-horizontal">
                <div class="form-container">
                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                    <div class="form-body-container">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.RequiredLabelFor(model => model.PromotionType, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EnumDropDownListFor(model => model.PromotionType, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PromotionType)
                                </div>
                                @Html.RequiredLabelFor(model => model.PromotionCode, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group addon">
                                        @Html.TextBoxFor(model => model.PromotionCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PromotionCode)
                                        <div class="input-group-btn">
                                            <button class="btn btn-default generate-code" type="button" data-url='@Url.Action("GeneratePromotionCode", "Promotion")' id="btnReloadCode"><i class="glyphicon glyphicon-refresh"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PromotionTitle, new {@class = "control-label col-md-2"})
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.PromotionTitle, new { rows = 6, columns = 40, maxlength = 4000, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PromotionValue)
                                </div>
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.Description, new { rows = 6, columns = 40, maxlength = 4000, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.RequiredLabelFor(model => model.PromotionValue, new {@class = "control-label col-md-2"})
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.PromotionValue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PromotionValue)

                                    @Html.HiddenFor(model => model.PromotionId)
                                    @Html.ValidationMessageFor(model => model.PromotionId)
                                </div>
                                @Html.RequiredLabelFor(model => model.IsPercent, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="checkbox-slider--b">
                                        <label>
                                            @{
                                                if (Model.IsPercent)
                                                {
                                                    <input type="checkbox" id="IsPercent" name="IsPercent" checked="checked" value="true"><span></span>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="IsPercent" name="IsPercent" value="false"><span></span>
                                                }
                                            }
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.IsPercent)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-2"})
                                <div class="col-md-4">
                                    @Html.DatePickerFor(model => model.StartDate)
                                    @Html.ValidationMessageFor(model => model.StartDate)
                                </div>
                                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DatePickerFor(model => model.EndDate)
                                    @Html.ValidationMessageFor(model => model.EndDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.RequiredLabelFor(model => model.IsActive, new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.RadioButtonSwitchEnumFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEditPromotion" data-id="@Model.PromotionId" data-url='@Url.Action("Edit", "Promotion")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary edit editPromotion" data-mode="edit" data-form="frmEditPromotion" data-id="@Model.PromotionId" data-url='@Url.Action("Edit", "Promotion")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>