@{
    ViewBag.Title = LanguageResource.EditEvent;
    Layout = ThemeViewEngine.AdminFullMainLayout;
}

@using Eagle.Core.Configuration
@using Eagle.Core.HtmlHelper
@using Eagle.Services.Skins
@model Eagle.Services.Dtos.Services.Event.EventEditEntry

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEvent", name = "frmEvent", @class = "form-horizontal", enctype = "multipart/form-data", role = "form", autocomplete = "off", }))
            {
    <div class="panel panel-default padding-15">
        <div class="panel-heading">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <button type="button" class="btn btn-default back-home" onclick="location.href = '@Url.Action("Index", "Event")'">
                            <span class="glyphicon glyphicon-backward"></span> @LanguageResource.Back
                        </button>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEvent" data-url='@Url.Action("Edit", "Event")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary save edit editEvent" data-mode="edit" data-form="frmEvent" data-url='@Url.Action("Edit", "Event")' value="@LanguageResource.Save" />
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateEvent</h4>
            </div>
        </div>
        <div class="panel-body">
            <div id="formMessage" class="form-message">
                @Html.AntiForgeryToken()
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            </div>
            <div id="formBody" class="container-fluid">
                <div class="form-container">
                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                    <div class="form-body-container">
                        <div class="panel with-nav-tabs panel-info">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">@LanguageResource.BasicInfo</a></li>
                                    <li><a href="#tab2" data-toggle="tab">@LanguageResource.Settings</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content no-border">
                                    <div class="tab-pane fade in active" id="tab1">
                                        <!--start row-->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EventTitle, new { @class = "control-label col-md-1" })
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.EventTitle, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EventTitle)

                                                @Html.HiddenFor(model => model.EventId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EventId)
                                            </div>
                                            @Html.LabelFor(model => model.EventCode, new { @class = "control-label col-md-1" })
                                            <div class="col-md-3">
                                                <div class="input-group addon">
                                                    @Html.TextBoxFor(model => model.EventCode, new { maxlength = 256, @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.EventCode)
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default generate-code" type="button" data-url='@Url.Action("GenerateCode", "Event")'><i class="glyphicon glyphicon-refresh"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TypeId, new {@class = "control-label col-md-1"})
                                            <div class="col-md-7">
                                                <input id="TypeId" name="TypeId" value="@Model.TypeId" class="easyui-combotree form-control" data-url='@Url.Action("GetEventTypeSelectTree", "Event")' style="width: 100%;">
                                                @Html.ValidationMessageFor(model => model.TypeId)
                                            </div>
                                            @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-1"})
                                            <div class="col-md-3">
                                                @Html.DatePickerFor(model => model.StartDate, DateTime.UtcNow.ToString("dd/MM/yyyy"))
                                                @Html.ValidationMessageFor(model => model.StartDate)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-1" })
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Location)
                                            </div>
                                            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-1" })
                                            <div class="col-md-3">
                                                @Html.DatePickerFor(model => model.EndDate)
                                                @Html.ValidationMessageFor(model => model.EndDate)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-1" })
                                            <div class="col-md-3">
                                                @Html.RadioButtonSwitchEnumFor(model => model.Status)
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        @{
                                                            if (Model.IsNotificationUsed)
                                                            {
                                                                <input type="checkbox" id="IsNotificationUsed" name="IsNotificationUsed" checked="checked" value="true">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" id="IsNotificationUsed" name="IsNotificationUsed" value="false">
                                                            }
                                                            <span> @LanguageResource.IsNotificationUsed</span>
                                                        }
                                                    </label>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.IsNotificationUsed)
                                            </div>
                                            @Html.LabelFor(model => model.TimeZone, new { @class = "control-label col-md-1" })
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.TimeZone, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TimeZone)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EventMessage, new { @class = "control-label col-md-1" })
                                            <div class="col-md-11">
                                                @Html.TextAreaFor(model => model.EventMessage, new { @id = "EventMessage", @style = "height:340px" })
                                                @Html.ValidationMessageFor(model => model.EventMessage)
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div>

                                    <div class="tab-pane fade" id="tab2">
                                        <!--start row-->
                                        <div class="form-group">
                                            @Html.Label(LanguageResource.Photo, new { @class = "control-label col-md-1" })
                                            <div class="col-md-11">
                                                <div class="file-container">
                                                    <div class="row">
                                                        <div class="col-md-8 no-padding-left">
                                                            <input type="file" id="File" name="File" class="btn btn-default form-control"/>
                                                            @Html.HiddenFor(model => model.SmallPhoto)
                                                            @Html.HiddenFor(model => model.LargePhoto)
                                                        </div>
                                                        <div class="col-md-4 no-padding-left">
                                                            <input type="button" class="btn btn-warning resetImage" value="@LanguageResource.ResetImage" />
                                                        </div>
                                                    </div>
                                                    <div id="image-holder"> </div>
                                                    <div id="image-container" class="image-container">
                                                        @if (@Model.DocumentInfos != null && @Model.DocumentInfos.Any())
                                                        {
                                                            @Html.ImageByFileId("Photo", Model.SmallPhoto, Model.DocumentInfos[0].FileUrl, Model.DocumentInfos[0].FileName, new { width = "150", height = "150", @class = "thumb-image" })
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <button type="button" class="btn btn-default back-home" onclick="location.href = '@Url.Action("Index", "Event")'">
                            <span class="glyphicon glyphicon-backward"></span> @LanguageResource.Back
                        </button>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="edit" data-form="frmEvent" data-url='@Url.Action("Edit", "Event")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary save edit editEvent" data-mode="edit" data-form="frmEvent" data-url='@Url.Action("Edit", "Event")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts
{
    <script type="text/javascript">
        //links
        window.CreateEventUrl = '@Url.Action("Create", "Event")';
        window.EditEventUrl = '@Url.Action("Edit", "Event")';
        window.SearchEventUrl = '@Url.Action("Search", "Event")';
        window.SearchEventPagingUrl = '@Url.Action("Search", "Event")';

        //UPLOAD IN EDIOR
        window.ReadImageBrowserUrl = '@Url.Action("Read", "ImageBrowser")';
        window.CreateImageBrowserDirectoryUrl = '@Url.Action("CreateDirectory", "ImageBrowser")';
        window.DestroyImageBrowserUrl = '@Url.Action("Destroy", "ImageBrowser")';
        window.ThumbnailImageBrowserUrl = '@Url.Action("Thumbnail", "ImageBrowser")';
        window.UploadImageBrowserUrl = '@Url.Action("Upload", "ImageBrowser")';
        window.UploadEventImageFolder = '@Url.Content(GlobalSettings.EventUploadImagePath)';

        window.ReadFileBrowserUrl = '@Url.Action("Read", "FileBrowser")';
        window.CreateFileBrowserDirectoryUrl = '@Url.Action("CreateDirectory", "FileBrowser")';
        window.DestroyFileBrowserUrl = '@Url.Action("Destroy", "FileBrowser")';
        window.ThumbnailFileBrowserUrl = '@Url.Action("Thumbnail", "FileBrowser")';
        window.UploadFileBrowserUrl = '@Url.Action("Upload", "FileBrowser")';
        window.UploadEventFileFolder = '@Url.Content(GlobalSettings.EventUploadDocumentPath)';
    </script>

    <!-- tree -->
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/bootstrap/easyui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/easyui/themes/icon.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/easyui/jquery.easyui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/bootstrap-plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")"></script>
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/plugins/kendo/styles/kendo.default.mobile.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/plugins/kendo/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/app/modules/event.js")"></script>
}