@using Eagle.Core.Pagination
@using Eagle.Core.Pagination.Extension
@model IPagedList<Eagle.Services.Dtos.Contents.Feedbacks.FeedbackDetail>

<div class="panel panel-default search-form-panel">
    <div class="panel-heading">
        <h5>@Html.Raw(LanguageResource.List)</h5>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dataTable" class="dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
                <thead>
                    <tr>
                        <th class="text-center">
                            @LanguageResource.SequenceNo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().SenderName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            int index = i + 1;
                            <tr>
                                <td class="text-center">
                                    @index
                                </td>
                                <td data-code="@item.FeedbackId">
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SenderName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="text-center">
                                    <div class="inner-center">
                                        <div class="checkbox-slider--a">
                                            <label>
                                                @{
                                                    if (item.IsActive)
                                                    {
                                                        <input type="checkbox" id="IsActive-@item.FeedbackId" name="IsActive-@item.FeedbackId" data-id="@item.FeedbackId" data-url='@Url.Action("UpdateStatus", "Feedback")' data-warning="@LanguageResource.DoYouWantToContinue" class="changeStatus" checked="checked" value="true"><span></span>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="IsActive-@item.FeedbackId" name="IsActive-@item.FeedbackId" data-id="@item.FeedbackId" data-url='@Url.Action("UpdateStatus", "Feedback")' data-warning="@LanguageResource.DoYouWantToContinue" class="changeStatus" value="false"><span></span>
                                                    }
                                                }
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="4" class="text-center">@LanguageResource.NoRecordFound</td>
                                                        </tr>
                                                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        @if (Model != null && Model.Any())
        {
            <div class="datagrid-pager row">
                <div class="datagrid-pagination pull-right text-right">
                    @Html.PagedListPager(Model, page => Url.Action("List", "Feedback", new { page }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                {
                    MaximumPageNumbersToDisplay = 10,
                    DisplayPageCountAndCurrentLocation = true,
                    PageCountAndCurrentLocationFormat = LanguageResource.PageCountAndCurrentLocationFormat,
                    DisplayItemSliceAndTotal = true,
                    ItemSliceAndTotalFormat = LanguageResource.ItemSliceAndTotalFormat
                }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divList" }))
                </div>
            </div>
        }
    </div>
</div>