@model Eagle.Services.Dtos.Services.Message.NotificationTypeEntry
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "myform", name = "myform", autocomplete = "off", @class = "form-horizontal" }))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading text-bold">
                <div class='page-header margin-top-5 margin-bottom-0'>
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NotificationType")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createNotificationType" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NotificationType")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                    <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateNotificationType</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="form-container">
                        <div id="formMessage" class="form-message">
                            @Html.AntiForgeryToken()
                            @Html.Partial("_MessagePartial")
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        </div>
                        <div id="formBody" class="form-horizontal">
                            <div class="form-container">
                                <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                                <div class="form-body-container">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.RequiredLabelFor(model => model.NotificationTypeName, new {@class = "control-label col-md-3"})
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.NotificationTypeName, null, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.NotificationTypeName)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.RequiredLabelFor(model => model.ParentId, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                <input id="ParentId" name="ParentId" value="0" class="easyui-combotree form-control cbxParentTree" data-url='@Url.Action("GetNotificationTypeSelectTree", "NotificationType")' style="width: 100%;">
                                                @Html.ValidationMessageFor(model => model.ParentId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.RequiredLabelFor(model => model.MessageTypeIds, new {@class = "control-label col-md-3"})
                                            <div class="col-md-3">
                                                @Html.DropDownListFor(model => model.MessageTypeIds, null, new {multiple = "multiple", @class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.MessageTypeIds)
                                            </div>
                                            @Html.RequiredLabelFor(model => model.NotificationSenderTypeId, new { @class = "control-label col-md-3" })
                                            <div class="col-md-3">
                                                @Html.EnumDropDownListFor(model => model.NotificationSenderTypeId, @LanguageResource.SelectSender, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ParentId)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("NotificationTargetType", LanguageResource.NotificationTargetType, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.Partial("../Services/Message/NotificationType/_CreateNotificationTargetType")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-3" })
                                            <div class="col-md-9">
                                                @Html.RadioButtonSwitchEnumFor(model => model.Status)
                                                @Html.ValidationMessageFor(model => model.Status)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'>
                            <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NotificationType")' value="@LanguageResource.Reset" />
                            <input type="button" class="btn btn-primary save add create createNotificationType" data-mode="create" data-form="myform" data-url='@Url.Action("Create", "NotificationType")' value="@LanguageResource.Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
