@using Eagle.Services.Skins
@{
    ViewBag.Title = LanguageResource.SkinPackageBackground;
    Layout = ThemeViewEngine.AdminFullMainLayout;
}
<div class="box-container">
    <div class="heading-bar-container">
        <div class="heading-bar-inner">
            <div class="row">
                <div class="col-md-4">
                    <h6>@LanguageResource.SkinPackageBackground</h6>
                </div>
                <div class="col-md-8 text-right">
                    <div class="btn-group" data-toggle="buttons">
                        <button type="button" class="btn btn-default load-back-form" onclick="location.href = '@Url.Action("Index", "SkinPackageBackground")'">
                            <span class="glyphicon glyphicon-backward"></span> @LanguageResource.Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container">
        <div id="bodyContent" class="row">
            <div id="divEdit">
                @Html.Action("Create", "SkinPackageBackground")
            </div>
            <div id="gridcontainer" class="gridContainer">
                @Html.Action("LoadSearchForm", "SkinPackageBackground")
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.SkinPackageBackgroundSearchUrl = '@Url.Action("Search", "SkinPackageBackground")';
    </script>
    <script src="~/Scripts/app/modules/skin-package-background.js"></script>
}
