@using Eagle.Core.HtmlHelper
@model Eagle.Services.Dtos.SystemManagement.PageEntry

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreatePage", name = "frmCreatePage", autocomplete = "off", @class = "form-horizontal" }))
{
    <div id="HeaderContainer" class="header-container">
        <div class="row">
            <div class="col-md-10 no-padding-left">
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreatePage</h4>
            </div>
            <div class="col-md-2 no-padding-right">
                <div class="top-toolbar">
                    <input type="button" class="btn  btn-default reset btnReset" data-mode="create" data-form="frmCreatePage" value="@LanguageResource.Reset" />
                    <input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreatePage" data-url='@Url.Action("Create", "Page")' value="@LanguageResource.Save" />
                </div>
            </div>
        </div>
    </div>

    <div id="MainContainer" class="main-container">
        <div class="form-container add-new-module">
            <div id="formMessage" class="form-message">
                @Html.Partial("_MessagePartial")
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            </div>
            <div id="formBody" class="form-body">
                <div class="form-container">
                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                    <div class="add-new-page">

                        <div class="panel with-nav-tabs panel-info">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1info" data-toggle="tab">@LanguageResource.BasicInfo</a></li>
                                    <li><a href="#tab2info" data-toggle="tab">@LanguageResource.PageSettings</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content no-border">
                                    <div class="tab-pane fade in active" id="tab1info">
                                        <!--start row-->

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.RequiredLabelFor(model => model.PageTypeId)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(model => model.PageTypeId, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PageTypeId)
                                            </div>
                                            <div class="col-md-3 no-padding-left">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        <input type="checkbox" id="IsSecured" name="IsSecured" value="false"><span>@LanguageResource.IsSecured</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.RequiredLabelFor(model => model.PageName)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.PageName, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PageName)
                                            </div>
                                            <div class="col-md-3 no-padding-left">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        <input type="checkbox" id="IsMenu" name="IsMenu" checked="checked" value="true"><span>@LanguageResource.IsMenu</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.RequiredLabelFor(model => model.PageTitle)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PageTitle)
                                            </div>
                                            <div class="col-md-3 no-padding-left">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        <input type="checkbox" id="DisplayTitle" name="DisplayTitle" checked="checked" value="true"><span>@LanguageResource.DisplayTitle</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.RequiredLabelFor(model => model.PageCode)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.PageCode, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PageCode)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.Keywords)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.Keywords, null, new Dictionary<string, object>
                                                    {
                                                        { "class", "form-control" },
                                                        { "placeholder", LanguageResource.Keywords },
                                                        { "data-role" , "tagsinput" }
                                                    })
                                            </div>
                                            <div class="col-md-3 no-padding-left">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        <input type="checkbox" id="DisableLink" name="DisableLink" value="false"><span>@LanguageResource.DisableLink</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.PageUrl)
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.PageUrl, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PageUrl)
                                            </div>
                                            <div class="col-md-3 no-padding-left">
                                                <div class="checkbox-slider--b">
                                                    <label>
                                                        <input type="checkbox" id="IsExtenalLink" name="IsExtenalLink" value="false"><span>@LanguageResource.IsExtenalLink</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.PagePath)
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.PagePath, null, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PagePath)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.Description)
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, maxlength = 500, @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.StartDate)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DatePickerFor(model => model.StartDate, DateTime.UtcNow.ToString("dd/MM/yyyy"))
                                                @Html.ValidationMessageFor(model => model.StartDate)
                                            </div>

                                            <div class="col-md-2 text-right">
                                                @Html.LabelFor(model => model.EndDate)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DatePickerFor(model => model.EndDate)
                                                @Html.ValidationMessageFor(model => model.EndDate)
                                            </div>
                                        </div>

                                        <!--end row-->
                                    </div>

                                    <div class="tab-pane fade" id="tab2info">
                                        <!--start row-->
                                       
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.TemplateId)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.TemplateId, null, new { @class = "form-control", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.TemplateId)
                                            </div>
                                            <div class="col-md-1 no-padding-left no-padding-right">
                                                @Html.LabelFor(model => model.IconClass)
                                            </div>
                                            <div class="col-md-1 no-padding-left no-padding-right">
                                                <button class="btn btn-default iconpicker" data-icon="glyphicon-picture" data-arrow-class="btn-success" role="iconpicker"></button>
                                                <input type="hidden" id="IconClass" name="IconClass" class="form-control" value="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.PageHeadText)
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.PageHeadText, new { rows = 2, columns = 40, maxlength = 500, @class = "form-control ckeditor" })
                                                @Html.ValidationMessageFor(model => model.PageHeadText)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.PageFooterText)
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.PageFooterText, new { rows = 2, columns = 40, @class = "form-control ckeditor" })
                                                @Html.ValidationMessageFor(model => model.PageFooterText)
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="FooterContainer" class="footer-container">
        <div class="bottom-toolbar">
            <input type="button" class="btn  btn-default reset btnReset" data-mode="create" data-form="frmCreatePage" value="@LanguageResource.Reset" />
            <input type="button" class="btn btn-primary add create" data-mode="create" data-form="frmCreatePage" data-url='@Url.Action("Create", "Page")' value="@LanguageResource.Save" />
        </div>
    </div>
}