@{
    ViewBag.Title = LanguageResource.ChangePassword;
    Layout = ThemeViewEngine.AdminFullMainLayout;
}
@using Eagle.Services.Skins
@model Eagle.Services.Dtos.SystemManagement.Identity.ChangePasswordModel

<form id="frmAdd" class="form-horizontal">
    <div id="alertMessageBox">
        @if (ViewBag.DisplayErrorMessage == true)
            {
            <div class="@ViewBag.CssClass">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.SortMessage !</strong>
                <div class="padding-left">
                    @Html.Raw(Server.HtmlDecode(ViewBag.Message))
                </div>
            </div>
        }
    </div>
    <div class="box">
        <div class="row">
            <div id="change-password" class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@LanguageResource.ResetPassword</h3>
                </div>
                <div class="panel-body">

                    <!--start row-->
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="col-md-4">
                            <label class="reset-label">
                                @Html.DisplayFor(model => model.UserName)
                                @Html.HiddenFor(model => model.UserName)
                            </label>
                        </div>
                    </div>
                    <!--end row-->
                    <!--start row-->
                    <div class="row">
                        <div class="col-md-4">
                            @Html.RequiredLabelFor(model => model.OldPassword)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password" })
                        </div>
                    </div>
                    <!--end row-->
                    <!--start row-->
                    <div class="row">
                        <div class="col-md-4">
                            @Html.RequiredLabelFor(model => model.NewPassword)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password" })
                        </div>
                    </div>
                    <!--end row-->
                    <!--start row-->
                    <div class="row">
                        <div class="col-md-4">
                            @Html.RequiredLabelFor(model => model.ConfirmedPassword)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ConfirmedPassword, new { @class = "form-control", type = "password" })
                        </div>
                    </div>
                    <!--end row-->
                    <!--/row-->
                    <div class="row">
                        <div class="footbar">
                            <input type="button" id="btnResetS" value="@LanguageResource.btnReset" class="btn btn-warning reset" />
                            <input type="button" id="btnAddS" value="@LanguageResource.btnSave" class="btn btn-primary add AddModel" />
                        </div>
                    </div>
                    <!--End.row-->
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>
        $(document).on("click", "#btnResetS", function () {
            $("body").addClass("loading");
            $.ajax({
                url: areas + "/ChangePassword/_Create",
                type: "GET",
                success: function (data) {
                    $("#divEdit").html(data);
                }
            });
        });
        $(document).on("click", "#btnAddS", function () {
            if (!$("#frmAdd").valid()) { // Not Valid
                $('.qtip').qtip("show");
                return false;
            } else {
                $("body").addClass("loading");
                $.ajax({
                    url: "/ChangePassword/Save",
                    type: "POST",
                    data: $("#frmAdd").serialize(),
                    success: function (data) {
                        if (data === "success") {
                            $.ajax({
                                url: "/ChangePassword/_Create",
                                type: "GET",
                                success: function (data) {
                                    $("#divEdit").html(data);
                                    AlterUpdateSuccess();
                                }
                            });
                        } else {
                            $("#divEdit").html(data);
                        }
                    }
                });
                return false;
            }
        });
    </script>
}