@{
    ViewBag.Title = LanguageResource.CreateCompany;
}

@model Eagle.Services.Dtos.Business.CompanyEntry

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateCompany", name = "frmCreateCompany", }))
{
    <div class="panel panel-default">
        <div class="panel-heading text-bold">
            <div class='page-header margin-top-5 margin-bottom-0'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <button type="button" class="btn btn-default back-home" onclick="location.href = '@Url.Action("Index", "Company")'">
                            <span class="glyphicon glyphicon-backward"></span> @LanguageResource.Back
                        </button>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-star"></span> @LanguageResource.CreateCompany</h4>
            </div>
        </div>

        <div class="panel-body padding-top-0">
            <div class="form-container">
                <div id="formMessage" class="form-message">
                    @Html.AntiForgeryToken()
                    @Html.Partial("_MessagePartial")
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                </div>
                <div id="formBody" class="form-horizontal">
                    <div class="form-container">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="panel panel-primary tree-list">
                                            <div class="panel-heading">
                                                <h4>@LanguageResource.TreeList</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="container-fluid">
                                                    <div class="padding-10">
                                                        <ul id="tree"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="panel with-nav-tabs panel-info">
                                            <div class="panel-heading">
                                                <div class='btn-toolbar pull-right'>
                                                    <div class='btn-group'>
                                                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateCompany" data-url='@Url.Action("Create", "Company")' value="@LanguageResource.Reset" />
                                                        <input type="button" class="btn btn-primary save add create createCompany" data-mode="create" data-form="frmCreateCompany" data-url='@Url.Action("Create", "Company")' value="@LanguageResource.Save" />
                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab1" data-toggle="tab">@LanguageResource.BasicInfo</a></li>
                                                    <li><a href="#tab2" data-toggle="tab">@LanguageResource.Address</a></li>
                                                    <li><a href="#tab3" data-toggle="tab">@LanguageResource.Logo</a></li>
                                                </ul>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-body-container">
                                                    <div class="form-lead">@Html.Raw(LanguageResource.RequiredFill)</div>
                                                    <div class="tab-content no-border">
                                                        <div class="tab-pane fade in active" id="tab1">
                                                            <!--start row-->

                                                            <div class="form-group">
                                                                @Html.RequiredLabelFor(model => model.CompanyName, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.CompanyName, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.CompanyName)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.RequiredLabelFor(model => model.ParentId, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    <input id="ParentId" name="ParentId" value="0" class="easyui-combotree form-control cbxParentTree" data-url='@Url.Action("GetCompanyTree", "Company")' style="width: 100%;">
                                                                    @Html.ValidationMessageFor(model => model.ParentId)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Slogan, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Slogan, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Slogan)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Fax, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Fax, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Fax)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Hotline, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Hotline, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Hotline)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Mobile, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Mobile, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Mobile)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Telephone, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Telephone, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Telephone)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Email)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Website, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.Website, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.Website)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.SupportOnline, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.SupportOnline, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.SupportOnline)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.CopyRight, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.CopyRight, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.CopyRight)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.TaxCode, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextBoxFor(model => model.TaxCode, new {@class = "form-control"})
                                                                    @Html.ValidationMessageFor(model => model.TaxCode)
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.RadioButtonSwitchEnumFor(model => model.Status, Eagle.Core.Settings.CompanyStatus.Active)
                                                                    @Html.ValidationMessageFor(model => model.Status)
                                                                </div>
                                                            </div>

                                                            <!--end row-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab2">
                                                            <!--start row-->
                                                            <div class="padding-10">
                                                                @Html.Partial("../Business/Ecommerce/Company/_Address")
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    @Html.TextAreaFor(model => model.Description, new {rows = 6, columns = 40, maxlength = 4000, @class = "form-control ckeditor"})
                                                                    @Html.HiddenFor(model => model.Description)
                                                                    @Html.ValidationMessageFor(model => model.Description)
                                                                </div>
                                                            </div>
                                                            <!--end row-->
                                                        </div>

                                                        <div class="tab-pane fade" id="tab3">
                                                            <div class="form-group">
                                                                @Html.Label(LanguageResource.Logo, new {@class = "control-label col-md-2"})
                                                                <div class="col-md-10">
                                                                    <div class="file-container">
                                                                        <div class="row">
                                                                            <div class="col-md-8 no-padding-left">
                                                                                <input type="file" id="File" name="File" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif" class="btn btn-default form-control"/>
                                                                                @Html.ValidationMessageFor(model => model.File)
                                                                            </div>
                                                                            <div class="col-md-4 no-padding-left">
                                                                                <input type="button" class="btn btn-warning resetFile" value="@LanguageResource.Reset"/>
                                                                            </div>
                                                                        </div>
                                                                        <div id="image-holder"> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <input type="button" class="btn btn-default reset btnReset" data-mode="create" data-form="frmCreateCompany" data-url='@Url.Action("Create", "Company")' value="@LanguageResource.Reset" />
                        <input type="button" class="btn btn-primary save add create createCompany" data-mode="create" data-form="frmCreateCompany" data-url='@Url.Action("Create", "Company")' value="@LanguageResource.Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}