@using Eagle.Services.Skins
@{
    Layout = ThemeViewEngine.AdminMasterLayout;
}

@section Meta{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="csrf-token" content="">
}

@section HeaderStyles{
    @Styles.Render("~/Themes/Default/FullScreenAdminStyle")
}

@RenderSection("HeadScripts", false)

<div id="BodyContainer" class="body-container">
    <div id="PaneContainer" class="pane-container">

        <!--start content ----------------------------------------------------------->
        <div id="ContentPane" class="content-pane">
            <!--Site map runs from main script ----------------------------->
            <div class="row">
                <div class="col-md-8">
                    <div id="SiteMap" class="navbar-header site-map"></div>
                </div>
                <div class="col-md-4 text-right">
                    @RenderSection("TopButtons", false)
                </div>
            </div>

            <div class="row">
                @(IsSectionDefined("BodyPane") ? RenderSection("BodyPane", false) : RenderBody())
            </div>
        </div>
        <!--end content -------------------------------------------------------------->

    </div>
</div>

@section FooterScripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/FooterScript")
    <script type="text/javascript">
        //LANGUAGE RESOURCE
        window.Language = 'vi';
        window.Create = '@Html.Raw(LanguageResource.Create)';
        window.CreateSuccess = '@Html.Raw(LanguageResource.CreateSuccess)';
        window.CreateFailure = '@Html.Raw(LanguageResource.CreateFailure)';
        window.Edit = '@Html.Raw(LanguageResource.Edit)';
        window.Save = '@Html.Raw(LanguageResource.Save)';
        window.UpdateSuccess = '@Html.Raw(LanguageResource.UpdateSuccess)';
        window.UpdateFailure = '@Html.Raw(LanguageResource.UpdateFailure)';
        window.UpdateStatus = '@Html.Raw(LanguageResource.UpdateStatus)';
        window.UpdateStatusSuccess = '@Html.Raw(LanguageResource.UpdateStatusSuccess)';
        window.UpdateStatusFailure = '@Html.Raw(LanguageResource.UpdateStatusFailure)';
        window.Delete = '@Html.Raw(LanguageResource.Delete)';
        window.DeleteSuccess = '@Html.Raw(LanguageResource.DeleteSuccess)';
        window.DeleteFailure = '@Html.Raw(LanguageResource.DeleteFailure)';
        window.Quit = '@Html.Raw(LanguageResource.Quit)';
        window.Warning = '@Html.Raw(LanguageResource.Warning)';
        window.DoYouWantToContinue = '@Html.Raw(LanguageResource.DoYouWantToContinue)';
        window.Ok = '@Html.Raw(LanguageResource.Ok)';
        window.Cancel = '@Html.Raw(LanguageResource.Cancel)';
        window.NoRecordFound = '@Html.Raw(LanguageResource.NoRecordFound)';
        window.UploadFileError = '@Html.Raw(LanguageResource.UploadFileError)';
        window.Finish = '@Html.Raw(LanguageResource.Finish)';
        window.Next = '@Html.Raw(LanguageResource.Next)';
        window.Previous = '@Html.Raw(LanguageResource.Previous)';
        window.Loading = '@Html.Raw(LanguageResource.Loading) ...';
        window.Processing = '@Html.Raw(LanguageResource.Processing)...';
        window.PleaseInput = '@Html.Raw(LanguageResource.PleaseInput)';
        window.Select = '@Html.Raw(LanguageResource.Select)';
        window.None = '@Html.Raw(LanguageResource.None)';
        window.NotFound = '@Html.Raw(LanguageResource.NotFound)';
    </script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", false)
    }
}


<div id="PopupCotainer" class="popup-container">
    <div class="modal fade modal-popup" id="modalContainer" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    Content for the dialog / modal goes here.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Html.Raw(LanguageResource.Close)</button>
                    @if (!IsSectionDefined("PopupBottomActionButtons"))
                    {
                        @RenderSection("PopupBottomActionButtons", false)
                    }
                </div>
            </div>
        </div>
    </div>
</div>